.Button {

   height: 70px;
   padding: 0 20px;
   font-size: 18px;
   font-weight: 700;
display: flex;
align-items: center;
justify-content: space-between;
color: white;
background-color: #000000;
cursor: pointer;
width: 100%;

}
