
.on {
  color: #EBA430;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.off {
  color: #333333;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}