*, html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  src: url("/fonts/ubuntu/Ubuntu-Regular.woff2") format("woff2");
  box-sizing: border-box;
}

body{
  background-color: #FEFEFE;
}

h1, h2, h3, h4, h5, h6 {
   padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@layer base {
  @font-face {
  font-family: 'Ubuntu', sans-serif;
  src: url("/fonts/ubuntu/Ubuntu-Regular.woff2") format("woff2");

  font-weight: 400;
  }
}