.Header {
    position: fixed;
    z-index: 20;
    top: 0;
    left:0;
    right:0;
    width: 100%;
    padding: 25px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   background: #FFFFFF;
border: 1px solid #EEEEEE;
box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);

   .headerDisplay {
    display: flex;
    align-items: center;
        .appDetails {
    display: flex;
    flex-direction: column;
    margin-left: 15px;

        h3 {
            font-size: 18px;
            margin-bottom: 3px;
        }
        h5 {
            color: #AAAAAA;
            font-size: 12;
            font-style: italic;
        }
    }
   }

    .actions {
    display: flex;
    align-items: center;

    .cart {
        cursor: pointer;
        margin-left: 29px;
        position: relative;

    .badge {
        position: absolute;
        color: white;
       left: calc(50% - 20px/2 + 10px);
top: calc(50% - 20px/2 - 10px);

background: #65C100;
border-radius: 10px;
width: 20px;
height: 20px;
text-align: center;
    }
    }
    }

    

.cartModal {
        position: absolute;
        right: 0;
        z-index: 30;
        top: 0;
    right: 0;
    transition: all .5s;
    }
    
    .hideModal {
        position: absolute;
        top: 0;
    right: 0;
    margin-right: -100vw;
    transition: all .5s;

    }
}